.header {
  padding: 20px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 60px;
  }
  .links {
    .icon {
      width: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      span {
        background-color: $font-back-color;
        margin-top: 5px;
        height: 2pt;
        &:first-child {
          width: 100%;
        }
        &:nth-child(2) {
          width: 60%;
          transition: $main-duration;
          -webkit-transition: $main-duration;
          -moz-transition: $main-duration;
          -ms-transition: $main-duration;
          -o-transition: $main-duration;
        }
        &:last-child {
          width: 100%;
        }
      }
    }
    position: relative;
    &:hover {
      .icon {
        span:nth-child(2) {
          width: 100%;
        }
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      background-color: $section-background;
      position: absolute;
      right: 0;
      min-width: 200px;
      top: calc(100% + 15px);
      display: none;
      z-index: 1;
    }
    &:hover {
      ul {
        display: block;
      }
    }
    ul {
      &::before {
        content: "";
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent $section-background transparent;
        position: absolute;
        right: 5px;
        top: -20px;
      }
    }
    ul {
      li {
        &:not(:last-child) {
          a {
            border-bottom: 1px solid #ddd;
          }
        }
        a {
          display: block;
          padding: 15px;
          text-decoration: none;
          color: $font-back-color;
          transition: $main-duration;
          -webkit-transition: $main-duration;
          -moz-transition: $main-duration;
          -ms-transition: $main-duration;
          -o-transition: $main-duration;
          &:hover {
            padding-left: 25px;
          }
        }
      }
    }
  }
}

/*-----------------------------------------*/
