* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}

.special-heading {
  + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
  }
}

@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading {
    + p {
      margin-top: -20px;
    }
  }
}

// Small
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

// Medium
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

// Large
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*-----------------------------------------*/
